<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
        <add id="Rafi_Reea::rafi_reea_region" title="Region" translate="title" module="Magento_Customer" sortOrder="30" parent="Magento_Customer::customer" action="rafi_reea/region/index" resource="Magento_Backend::content"/>
    </menu>
</config>
